{% extends 'base.html' %}
{% block content %}

<h1>Welcome to the Recommender System</h1>
    <form method="post" action="{% url 'recommend' %}">
        {% csrf_token %}
        <label for="company">Enter Company Name:</label>
        <input type="text" id="company" name="company" required>
        <button type="submit">Get Recommendations</button>
    </form>
{% endblock content %}

{% comment %}  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommender System</title>
</head> 
<body> {% endcomment %}
    
{% comment %} </body>
</html> {% endcomment %}
